<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
<body>
</head>
	<header>
	</header>
	<main>
		<div>
			<h1>Lista de Comandos</h1>
			<p>"start": Inicia servidor</p>
			<p>"exit": Fecha Terraria servidor</p>
			<p>"/stop": Fecha Minecraft servidor</p>
		</div>
		<div>
			<fieldset>
				<legend><h1>Terraria</h1></legend>
				<textarea id='terraria_log' rows=8 cols=60 autofocus>
				</textarea>
				<br>
				<input type="text" placeholder="Comando" id="terraria_msg_to_server">
				<br>
				<button type="button" onclick="sendMessage('terraria_server', 'terraria_msg_to_server')">Mandar Comando</button>
			</fieldset>
		</div>
		<div>
			<fieldset>
				<legend><h1>Tmod</h1></legend>
				<textarea id='tmod_log' rows=8 cols=60 autofocus>
				</textarea>
				<br>
				<input type="text" placeholder="Comando" id="tmod_msg_to_server">
				<br>
				<button type="button" onclick="sendMessage('tmod_server', 'tmod_msg_to_server')">Mandar Comando</button>
				<p id="tmod_log"></p>
			</fieldset>
		</div>
		<div>
			<fieldset>
				<legend><h1>Minecraft</h1></legend>
				<textarea id='minecraft_log' rows=8 cols=60 autofocus>
				</textarea>
				<br>
				<input type="text" placeholder="Comando" id="mine_msg_to_server">
				<br>
				<button type="button" onclick="sendMessage('minecraft_server', 'mine_msg_to_server')">Mandar Comando</button>
				<p id="minecraft_log"></p>
			</fieldset>
		</div>
	</main>
	<script defer>
		const socket = io("/") //https:localhost:3000//
		socket.on('connection', ()=>{
			console.log('connected')
		})
		const sendMessage = (url, id) =>{
			let msg_to_server = document.getElementById(id);
			socket.emit(url, msg_to_server.value)
			msg_to_server.value = '';
		}
		socket.on('terraria_server', (data)=>{
			const txt = document.getElementById('terraria_log');
			console.log(data);
			txt.value += `${data}`;
		    txt.scrollTop = txt.scrollHeight;
		})
		socket.on('tmod_server', (data) =>{
			const txt = document.getElementById('tmod_log');
			console.log(data);
			txt.value += `${data}`;
		    txt.scrollTop = txt.scrollHeight;
		})
		socket.on('minecraft_server', (data) =>{
			const txt = document.getElementById('minecraft_log');
			console.log(data);
			txt.value += `${data}`;
		    txt.scrollTop = txt.scrollHeight;
		})
		const enter_event = (id_listener, url, id) =>{
			document.getElementById(id_listener).addEventListener("keydown", (event)=>{
				if(event.key == "Enter"){
					sendMessage(url, id)
				}
			})
			document.getElementById(id_listener).value = '';
		}
		enter_event("terraria_msg_to_server", 'terraria_server', 'terraria_msg_to_server');
		enter_event("tmod_msg_to_server", 'tmod_server', 'tmod_msg_to_server');
		enter_event("mine_msg_to_server", 'minecraft_server', 'mine_msg_to_server');
	</script>
</body>
</html>
